<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>

 <fieldset>
        <legend>Editer un produit</legend>
     <form action="#" th:action="@{/enregister}" th:object="${produit}"
            method="post">
 <input type="hidden" th:field="*{id}" />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                      <label for="Designation">Designation</label>
                 <input type="text" th:field="*{designation}" />
                    </div>
                </div>
                     <div class="col">
                    <div class="form-group">
                      <label for="Prix">Prix</label>
                 <input type="text" th:field="*{prix}" />
                    </div>
                </div>
             
            </div>
            <div class="row">
            
     
                <button type="submit" class="btn btn-outline-primary btn-block">Editer</button>
            </div>
        </form>
    </fieldset>

</body>
</html>